<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Demola</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<h1>About Me</h1>
<p>Demola is an aspiring Data analyst and Business Intelligence Consultant with an interest in Python and Django!</p>
<p>Yipee!!!</p><br>
<a href="{% url 'home' %}">Home</a>
</body>
</html>